.user-edit {
    .side-form {
        width: 600px;
        height: 400px;
        margin: 0 auto;
        background: white;
        padding: 20px;
        margin-top: 40px;
    }
    .alert-danger {
        background-color: #ffffff;
        padding: 6px;
        font-size: 12px;
    }
}