<div class="user-create">
    <loading-overlay [loading]="loading"></loading-overlay>
    <div class="user-edit">
        <div class="side-form">
            <h3>{{title}}</h3>
            <hr>
            <div class="form-container">
                <form (submit)="saveUser(name.value, birthdate.value)" novalidate [formGroup]="userform">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" placeholder="name" formControlName="name" #name [ngModel]="user.name" class="form-control" required />
                        <div class="alert-danger" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty">
                            <i class="fa fa-close"></i> Required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Date of Birth</label>
                        <input type="text" placeholder='dd/mm/yyyy' pattern="\d{2}\/\d{2}\/\d{4}" #birthdate formControlName="birthdate" [ngModel]="user.birthdate | date" (ngModelChange)="birthdate" class="form-control" required />
                        <div class="alert-danger" *ngIf="!userform.controls['birthdate'].valid&&userform.controls['birthdate'].dirty">
                            <i class="fa fa-close"></i> Incorrect DoB format
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default" routerLink="/users" (click)="loading=false">Cancel</a>
                        <button class="btn btn-primary" type="submit" [disabled]="!userform.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>