/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* GENERAL STYLES AND CLASSES 
--------------------------------------------------------------------- */

body {
    background-color: #3e94ec !important;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    padding: 5px;
    ng-component {
        display: block;
    }
}


/* HEADER STYLES
--------------------------------------------------------------------- */

header {}


/* MAIN STYLES
--------------------------------------------------------------------- */

main {
    padding: 0 20px;
    min-height: 300px;
    .products-table {
        margin-top: 20px;
        .delete-column {
            width: 60px;
        }
    }
    /* side form */
    .view-side-form {
        .side-form {
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            overflow: auto;
            background: #fff;
            padding: 20px;
            border-left: 1px solid #e0e0e0;
        }
    }
}


/* FOOTER STYLES
--------------------------------------------------------------------- */

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #ddd;
}